.links{
    display: flex;
    align-items: center;
    gap: 10px;
}

.links a {
    color: var(--secondary-text-color);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease;
  }
  
  .links a:hover {
    color: var(--highlight-color);
    transform: translateY(-2px);
  }

.logout{
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.menuButton,
.mobileLinks{
  display: none;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }
  .menuButton{
    display: block;
    cursor: pointer;
  }

  .mobileLinks{
    position: absolute;
    top: 100px;
    right: 0;
    width: 50%;
    height: calc(100vh - 100px);
    /* background-color: var(--bg); */
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .mobileLinks button {
    width: 100%; /* WalletConnectボタンの幅を調整 */
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: var(--btn);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .mobileLinks button:hover {
    background-color: var(--highlight-color);
  }
}