.links{
    display: flex;
    align-items: center;
    gap: 10px;
}

.links a {
    color: var(--secondary-text-color);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease;
  }
  
  .links a:hover {
    color: var(--highlight-color);
    transform: translateY(-2px);
  }